{% extends 'blog/base_full_width.html' %}

{% load crispy_forms_tags %}

{% block head_title %} <b>Edit Post - Blog</b> {% endblock %}
<hr/>

{% block main_area %}
    <h1>  Edit Post </h1>
    <form method = "post" enctype = "multipart/form-data">{% csrf_token %}
        <table>
            {{ form | crispy }}
            {% comment %} 태그 선택란 추가 {% endcomment %}
            {% comment %} value = {{ tags_str_default }}: 포스트 수정 페이지를 열었을 때, 기존 태그가 자동으로 입력되도록 만듦 {% endcomment %}
            {% comment %} <div id = "div_id_tags_str"> {% endcomment %}
            <tr>
                <th><label for = "id_tags_str"> Tags:</label></th>
                <td><input type="text" name="tags_str" id = "id_tags_str" value = {{ tags_str_default }}></td>
            </tr>
            {% comment %} </div> {% endcomment %}
        </table>
        <br/>
        <button type = "submit" class = "btn btn-design float-right"> 저장 </button>
    </form>
    {% comment %} 포스트 작성 시, 마크다운이 적용되어 렌더링된 모습 나타남 {% endcomment %}
    {{ form.media }}

{% endblock %}

