{% extends 'blog/base.html' %}
{% block main_area %}


<div class = "col-8">
    <div class = "row">
        {% comment %} new post 버튼 나타내기 {% endcomment %}
        {% comment %} 로그인이 되어 있는 경우에 사용자가 최고 관리자/스태프일 때만 버튼이 보이도록 설정 {% endcomment %}
        {% if user.is_authenticated %}
            {% if user.is_superuser or user.is_staff %}
                <a class = "btn btn-design btn-sm" href = "/blog/create_post/" role="button">
                    <span class = "float-right"><i class = "fas fa-pen"></i> &nbsp;&nbsp; New Post </span>
                </a>
            {% endif %}
        {% endif %}
    </div>  
     
    <div class = "row">
        {% comment %} 소제목 {% endcomment %}
        <h3 class = 'htag-line htag-shadow2'> 
            Mini Project 
            {% comment %} 카테고리 선택시 소제목 옆에 카테고리가 나타나도록 {% endcomment %}
            {% if category %} <span class = "badge badge-secondary badge-design text-design">{{ category }}</span> {% endif %}

            {% comment %} 태그 선택시 소제목 옆에 태그이름이 나타나도록 {% endcomment %}
            {% if tag %}<span class = "badge badge-secondary badge-design2 text-design float-right"><i class = "fas fa-tags"></i>{{ tag }} [{{ tag.post_set.count}}]</span>{% endif %}
                    
        </h3>
    </div>

    <div class = "row">
        {% for p in post_list %}
        <div class = "card" id = "post-{{p.pk}}"> 

            {% comment %} 카드 상단 이미지부분 {% endcomment %}
            {% if p.head_image %}
            <img class="card-img-top" src="{{ p.head_image.url }}" alt = "{{ p }} head image">
            {% else %}
            <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt ="random_image">
            {% endif %}

            {% comment %} 카드 바디 내용부분 {% endcomment %}
            <div class = "card-body">

                {% comment %} 타이틀, 카테고리 뱃지 {% endcomment %}
                {% if p.category %}
                <span class="badge badge-design float-right">{{ p.category }}</span>
                <h3 class = "card-title"><a class = "atag-nodesign" href = "{{ p.get_absolute_url }}"><b> {{p.title}}</b> </a></h3>
                {% else %}
                <h3 class = "card-title"><a class = "atag-nodesign" href = "{{ p.get_absolute_url }}"><b> {{p.title}}</b> </a></h3>
                {% endif %}

                {% comment %} 훅텍스트 {% endcomment %}
                {% if p.hook_text %}
                    <p class = "text-muted"> {{p.hook_text}} </p>
                {% endif %}

                {% comment %} 카드 본문 내용: 단어 최대 45개 {% endcomment %}
                <p class = "card-text"> {{p.get_content_markdown | truncatewords_html:45 | safe }} </p>
                <a href="{{p.get_absolute_url}}" class="btn btn-design">Read More</a>

                {% comment %} 태그 {% endcomment %}
                {% comment %} 태그가 존재하면 게시해놔라 {% endcomment %}
                {% if p.tags.exists %}
                    <p>
                        <br/>
                        <i class = "fas fa-tags"></i>
                        {% for tag in p.tags.iterator %}
                            <a href = "{{ tag.get_absolute_url }}"><span class = "badge badge-pill badge-light">{{ tag }}</span></a>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>

            {% comment %} 카드 푸터부분 {% endcomment %}
            <div class = "card-footer">        
                <b>{{ p.created_at }}</b> by <a href = "#"> {{ p.author | upper }} </a>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class = "row">
        <h3 class = 'htag-line htag-shadow2'> Project </h3>
    </div>
</div>
     

{% endblock %}

