{% extends 'blog/base_full_width.html' %}

{% load crispy_forms_tags %}

{% block head_title %} <b>Create Post - Blog</b> {% endblock %}


{% block main_area %}
    {% comment %} 제목 {% endcomment %}
    <h1>  Create New Post </h1>
    <hr/>
    {% comment %} 포스트 생성 본문 {% endcomment %}
    {% comment %} enctype = "multipart/form-data": 파일도 같이 전송하겠음 {% endcomment %}
    {% comment %} {% csrf_token %}: 웹사이트를 crsf 공격으로부터 보호하겠음 {% endcomment %}
    <form method = "post" enctype = "multipart/form-data">{% csrf_token %}  
        <table>
            {{ form | crispy }}
            {% comment %} 태그 선택란 추가 {% endcomment %}
            {% comment %} <div id = "div_id_tags_str">  {% endcomment %}
            <tr>
                <th><label for = "id_tags_str">Tags:</label></th>
                <td><input type = "text" name = "tags_str" id ="id_tags_str"></td>
            </tr>
            {% comment %} </div> {% endcomment %}
        </table>
        <br/>
        <button type = "submit" class = "btn btn-design float-right"> 저장 </button>
    </form>
    {% comment %} 포스트 작성 시, 마크다운이 적용되어 렌더링된 모습 나타남 {% endcomment %}
    {{ form.media }}
{% endblock %}

    
