<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css'%}" media = "screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/hamchorom.css'%}">
    <script src="https://kit.fontawesome.com/21f0d8bab4.js" crossorigin="anonymous"></script>
    <title> Welcome </title>
</head>
<body>
    <div id = 'nav-bar'>
        <a href = '/'> Home </a>
        <a href = '/about_me/'> About Me </a>
        <a href = '/blog/'> Blog </a>
        <a href = '/program/'> Program </a>
        <a href = '/ml/'> ML </a>
    </div>
    <div id = "contents">
        <div id = 'contents-1'>
        </div>  
        <div id ='contents-2'>
        </div>
        <h1> <img id = "left" src = "/static/single_pages/images/범이2.png"></h1>
        <h1> Aerim's <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Portfolio</h1> 
        <h1> <img id = "right" src = "/static/single_pages/images/범이1.png"></h1> 
    </div>   
    <div id = 'footer'>
        <p>Copyright aErImChOi - 2022 </p>
    </div>
      

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</html>